Allow the "relaxed" host names from RFC-1123?

Hello! Thank you for your work in providing and maintaining this library.

I hit against https://github.com/hannesm/domain-name/blob/44c56e8fd947ea980730789a1cc729074abc7ef9/domain_name.ml#L37-L41 recently . Using the opportunity to deepen my grasp of the specs, led me to discover that in RFC-1123, section [2.1](https://datatracker.ietf.org/doc/html/rfc1123#section-2), a relaxed constraint for hostnames was specified:

> The syntax of a legal Internet host name was specified in [RFC-952](https://datatracker.ietf.org/doc/html/rfc952)
> [DNS:4].  One aspect of host name syntax is hereby changed: the
> restriction on the first character is relaxed to allow either a
> letter or a digit.  Host software MUST support this more liberal
> syntax.

IIUC, this could be taken to indicate that a numeral may be a legal first character of a host name.

Given that this library purports only to implement [RFC 1035](https://tools.ietf.org/html/rfc1035), it could be that this is out of scope. But I thought I'd ask whether you'd consider this change.

Thanks again!

Would you remind me with an example which host name you are talking about?

I can't find any mention of removing the restriction that a top-level domain may not be only numbers (i.e. foo.27 is not a valid hostname, but 27.foo is) -- but I may be wrong?

Please reopen if you have a concrete example which hostname is disallowed and conforms to RFC 1123.

Ah I misconstrued the logic here. Indeed my issue is not relevant. Sorry for the noise.